﻿@model PagenatedList<Teacher>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<h3>Admin-Dashboard für die Lehrer</h3>

<p>
    @ViewBag.MyMessage
</p>

<form method="get">
    <div class="form-row align-items-center">
        <div class="col-sm-3 my-1">
            <input type="text" class="form-control" name="filter" value="@ViewData["CurrentFilter"]" placeholder="Suche...">
        </div>
        <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary">Los</button>
        </div>
    </div>
</form>

<a asp-action="Index"
   asp-route-pageIndex="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   class="btn btn-secondary @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageIndex="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   class="btn btn-secondary @nextDisabled">
    Next
</a>
<label>(Seite @Model.PageIndex von @Model.TotalPages)</label>

<div class="my-3" />

<table class="table table-striped">
    <thead>
        <tr>
            <td>
                <a asp-action="Index" asp-route-pageIndex="@Model.PageIndex" asp-route-sortOrder="@ViewData["FirstNameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Vornamen</a>
            </td>
            <td>
                <a asp-action="Index" asp-route-pageIndex="@Model.PageIndex" asp-route-sortOrder="@ViewData["LastNameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Nachnamen</a>
            </td>
            <td>
                <a asp-action="Index" asp-route-pageIndex="@Model.PageIndex" asp-route-sortOrder="@ViewData["EMailSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">EMail</a>
            </td>
            <td>Status</td>
            <td>Anz. Stunden</td>
        </tr>
    </thead>
    <tbody>
        @foreach (Teacher item in Model)
        {
        <tr>
            <td>@item.T_Firstname</td>
            <td>@item.T_Lastname</td>
            <td>@item.T_Email</td>
            <td>@item.T_CatAccountState.ShortName</td>
            <td>@item.Lessons.Count()</td>
        </tr>
        }
    </tbody>
</table>
