﻿@model Spg.TestAdministrator.Business.Domain.Models.Teacher

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<h4>Teacher</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="T_ID" />
            <div class="form-group">
                <label asp-for="T_Lastname" class="control-label"></label>
                <input asp-for="T_Lastname" class="form-control" />
                <span asp-validation-for="T_Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="T_Firstname" class="control-label"></label>
                <input asp-for="T_Firstname" class="form-control" />
                <span asp-validation-for="T_Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="T_Email" class="control-label"></label>
                <input asp-for="T_Email" class="form-control" />
                <span asp-validation-for="T_Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="T_Account" class="control-label"></label>
                <input asp-for="T_Account" class="form-control" />
                <span asp-validation-for="T_Account" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="T_CatAccountStateId" class="control-label"></label>
                <select asp-for="T_CatAccountStateId" class="form-control" asp-items="ViewBag.T_CatAccountStateId"></select>
                <span asp-validation-for="T_CatAccountStateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
