﻿@model Spg.TestAdministrator.Business.Domain.Models.Schoolclass

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Schoolclass</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="C_ID" class="control-label"></label>
                <input asp-for="C_ID" class="form-control" />
                <span asp-validation-for="C_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C_Department" class="control-label"></label>
                <input asp-for="C_Department" class="form-control" />
                <span asp-validation-for="C_Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C_ClassTeacher" class="control-label"></label>
                <select asp-for="C_ClassTeacher" class ="form-control" asp-items="ViewBag.C_ClassTeacher"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
