﻿@model Spg.TestAdministrator.Business.Domain.Models.Schoolclass

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Schoolclass</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C_Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C_Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C_ClassTeacherNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C_ClassTeacherNavigation.T_ID)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="C_ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
