﻿@model IEnumerable<Spg.TestAdministrator.Business.Domain.Models.Schoolclass>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label>Department</label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C_ClassTeacherNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Spg.TestAdministrator.Business.Domain.Models.Schoolclass item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.C_Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C_ClassTeacherNavigation.T_ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.C_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.C_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.C_ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
