﻿@model Spg.TestAdministrator.WebApp.Dtos.LoginDto

@if (Model != null 
    && !string.IsNullOrEmpty(Model.UserName))
{
    <p>Welcome: @Model.UserName</p>
    <a class="btn btn-danger" asp-controller="Login" asp-action="LogOut">Log Out</a>
}
else
{
    <form method="post">
        <input class="form-control" asp-for="@Model.UserName" />
        <button class="btn btn-success" type="submit">Log In</button>
    </form>
}