﻿@model Spg.TestAdministrator.WebApp.Models.ApplicationUserDto

<h2>@ViewData["Title"]</h2>

<p>
    Du kannst dich mit folgenden Login-Daten anmelden:
</p>
<hr />
<p>
    <b>User #1:</b> Dieser User darf auch editieren<br />
    USER: schrutek@spengergasse.at<br />
    PWD: geheim<br />
</p>
<hr />
<p>
    <b>User #1:</b><br />
    selma_94226@emailprovider.com<br />
    PWD: geheim
</p>
<hr />

<div class="row">
    <div class="col-md-3">
        <form method="post">
            <p>Bitte melden sie sich an:</p>
            <hr>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Log in</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}