﻿@model PagenatedList<Test>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a onclick="loadExams('@ViewData["CurrentSort"]', '@(Model.PageIndex - 1)', event)"
   class="btn btn-secondary @prevDisabled">
    Previous
</a>
<a onclick="loadExams('@ViewData["CurrentSort"]', '@(Model.PageIndex + 1)', event)"
   class="btn btn-secondary @nextDisabled">
    Next
</a>
<label>(Seite @Model.PageIndex von @Model.TotalPages)</label>

<div class="my-3" />

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <a href="#" onclick="loadExams('@ViewData["IdSortParm"]', '@(Model.PageIndex)', event)">ID</a>
            </th>
            <th>
                <a href="#" onclick="loadExams('@ViewData["DateSortParm"]', '@(Model.PageIndex)', event)">Datum</a>
            </th>
            <th>
                <a href="#" onclick="loadExams('@ViewData["SubjectSortParm"]', '@(Model.PageIndex)', event)">Fach</a>
            </th>
            <th>Prüfer</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Test item in Model)
        {
        <tr>
            <td>@item.TE_ID</td>
            <td>@item.TE_Date</td>
            <td>@item.TE_Subject</td>
            <td>@item.TE_TeacherNavigation.T_Firstname @item.TE_TeacherNavigation.T_Lastname</td>
        </tr>
        }
    </tbody>
</table>
