﻿@model PagenatedList<Test>

<h3>Liste aller Test (Lösung mit AJAX)</h3>

<p>
    Diese Seite wird jetzt nur einmal geladen, wenn die URl: /Exam/Index aufgerufen wird
    Die Tabelle + Buttons sind in einer partial View ausgelagert. Diese wird hier beim Laden
    der Seite mitgeladen, dann aber (bei den klicks aus einen der Buttons/Links) nur noch
    mittels AJAX geladen. Das kann auch (z.B. mittels Timer getriggert) sekündlich passieren.
    Das hat dann auf diese Seite und das Input-Feld keinen Einfluss mehr.
</p>

<div>
    <div class="form-row align-items-center">
        <div class="col-sm-3 my-1">
            <input id="filtervalue" type="text" class="form-control" placeholder="Suche...">
        </div>
        <div class="col-auto my-1">
            <button class="btn btn-primary" onclick="loadExams('@ViewData["CurrentSort"]', '1', event)">Los</button>
        </div>
    </div>
</div>

<div id="pvExams">
    <partial name="_ExamList" model="Model" />
</div>

@section scripts {

    <script type="text/javascript">

        function loadExams(sortOrder, pageIndex, e) {
            console.log($("#filtervalue").val());
            if (e) {
                e.preventDefault();
            }

            var url = '@Url.Action("IndexPartial", "Exam")';

            $.ajax({
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                url: url,
                dataType: 'html',
                data: {
                    "filter": $("#filtervalue").val(),
                    "sortOrder": sortOrder,
                    "pageIndex": pageIndex
                },
                success: function (result) {
                    $('#pvExams').html('');
                    $('#pvExams').html(result);
                },
                error: function (success, message) {
                    alert(message);
                    //window.location = './../Error' //https://localhost:5001/Error
                }
            });
        }

    </script>

}
