﻿@model Test

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Test</h4>
<hr />

<div class="row">
    <div class="col-md-4">

        <p>
            <span class="alert-danger">@TempData["Error"]</span>
        </p>

        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="TE_ID" />
            <input type="hidden" asp-for="Guid" />

            <div class="form-group">
                <label asp-for="TE_Class" class="control-label"></label>
                <select asp-for="TE_Class" class="form-control" asp-items="ViewBag.TE_Class"></select>
                <span asp-validation-for="TE_Class" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TE_Teacher" class="control-label"></label>
                <select asp-for="TE_Teacher" class="form-control" asp-items="ViewBag.TE_Teacher"></select>
                <span asp-validation-for="TE_Teacher" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TE_Subject" class="control-label"></label>
                <input asp-for="TE_Subject" class="form-control" />
                <span asp-validation-for="TE_Subject" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TE_Date" class="control-label"></label>
                <input asp-for="TE_Date" class="form-control" />
                <span asp-validation-for="TE_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TE_Lesson" class="control-label"></label>
                <select asp-for="TE_Lesson" class="form-control" asp-items="ViewBag.TE_Lesson"></select>
                <span asp-validation-for="TE_Lesson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
