﻿@inject Spg.TestAdministrator.Business.Domain.Interfaces.IAuthService _httpCookieAuthService
@model PagenatedList<Test>

@{ 
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<h3>Admin-Dashboard für die Tests</h3>

<form method="get">
    <div class="form-row align-items-center">
        <div class="col-sm-3 my-1">
            <input type="text" class="form-control" name="filter" value="@ViewData["CurrentFilter"]" placeholder="Suche...">
        </div>
        <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary">Los</button>
        </div>
    </div>
</form>

<a asp-action="Index" 
   asp-route-pageIndex="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   class="btn btn-secondary @prevDisabled">
    Previous
</a>
<a asp-action="Index" 
   asp-route-pageIndex="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   class="btn btn-secondary @nextDisabled">
    Next
</a>
<label>(Seite @Model.PageIndex von @Model.TotalPages)</label>

<div class="my-3" />

<p>
    DropDown:
    <form method="post">
        <select value="paraneter01" class="form-control" asp-items="ViewBag.TE_Class"></select>
        <button type="submit" class="btn btn-primary">Los</button>
    </form>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <td>
                <a asp-action="Index" asp-route-pageIndex="@Model.PageIndex" asp-route-sortOrder="@ViewData["IdSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">ID</a>
            </td>
            <td>
                <a asp-action="Index" asp-route-pageIndex="@Model.PageIndex" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Datum</a>
            </td>
            <td>
                <a asp-action="Index" asp-route-pageIndex="@Model.PageIndex" asp-route-sortOrder="@ViewData["SubjectSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Fach</a>
            </td>
            <td>Prüfer</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (Test item in Model)
        {
            <tr>
                <td>@item.TE_ID</td>
                <td>@item.TE_Date</td>
                <td>@item.TE_Subject</td>
                <td>@item.TE_TeacherNavigation.T_Firstname @item.TE_TeacherNavigation.T_Lastname</td>
                @if (_httpCookieAuthService.IsAuthenticated
                && _httpCookieAuthService.HasRole("Teacher"))
                {
                    <td><a asp-action="Edit" asp-route-id="@item.Guid">Edit</a></td>
                }
            </tr>
        }
    </tbody>
</table>
