﻿@section Headers
{
    <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
}

<div id="app">
    {{ message }}

    <div>
        <div class="form-row align-items-center">
            <div class="col-sm-3 my-1">
                <input type="text" class="form-control" v-model="filter" placeholder="Suche...">
            </div>
            <div class="col-auto my-1">
                <b-button v-on:click="newFilter">Los</b-button>
            </div>
        </div>
    </div>

    <b-button v-on:click="previousPage" variant="outline-primary">Previous</b-button>
    <b-button v-on:click="nextPage" variant="outline-primary">Next</b-button>
    
    <p>
        Seite {{ pageIndex }} von {{ totalPages }}
    </p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <a v-on:click="sort('id')">ID</a>
                </th>
                <th>
                    <a v-on:click="sort('date')">Datum</a>
                </th>
                <th>
                    <a v-on:click="sort('subject')">Fach</a>
                </th>
                <th>Prüfer</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="t in examListDto.exams">
                <td>{{ t.tE_ID }}</td>
                <td>{{ t.tE_Date }}</td>
                <td>{{ t.tE_Subject }}</td>
                <td>{{ t.tE_TeacherNavigation.t_Firstname }} {{ t.tE_TeacherNavigation.t_Lastname }}</td>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts
{

    <script type="text/javascript">

        var app = new Vue({
            el: '#app',
            data: {
                message: '',
                examListDto: null,
                filter: '',
                sortOrder: '',
                sortField: '',
                pageIndex: 1,
                totalPages: 1
            },
            mounted: function () {
                this.pageIndex = 1;
                this.lodadata();
            },
            methods: {
                lodadata: async function () {
                    console.log('loaddata begonnen');
                    this.message = 'Daten werden geladen...';
                    const response = await fetch('/Exam/VueTableContent?'
                        + 'filter=' + this.filter
                        + '&sortField=' + this.sortField
                        + '&pageIndex=' + this.pageIndex, {
                        method: 'GET'
                    });
                    if (response.ok) {
                        this.examListDto = await response.json();
                        console.log(this.examListDto.exams);

                        this.totalPages = this.examListDto.totalPages;
                        console.log(this.totalPages);

                        this.message = 'Alles OK';
                    }
                    else {
                        this.message = 'Es ist ein Fehler aufgetreten!';
                    }
                },
                previousPage: function () {
                    if (this.pageIndex > 1) {
                        this.pageIndex--;
                        this.lodadata();
                    }
                },
                nextPage: function () {
                    if (this.pageIndex < this.totalPages) {
                        this.pageIndex++;
                        this.lodadata();
                    }
                },
                newFilter: function () {
                    this.pageIndex = 1;
                    this.lodadata();
                },
                sort: function (colName) {
                    if (this.sortOrder == '') {
                        this.sortOrder = '_desc';
                    }
                    else {
                        this.sortOrder = '';
                    }
                    this.sortField = colName + this.sortOrder;
                    this.lodadata();
                }
            },
            calculated: {
            }
        });

    </script>

}
